html {
  font-size: 1rem;
}

// Nav
nav {
  background-color: $colorFirst;
}

// Header
#header {
  background-color: $colorFirst;
  padding: 6rem 0;
  border-bottom-right-radius: 10rem;
}
// Main
main {
  // Feauture
  #feauture {
    padding: 6rem 0;
  }
  // More
  #more {
    padding: 4rem 0;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    img {
      border-radius: 1rem;
      transform: skewX(7deg);
    }
    .wrapper {
      margin-top: 4rem !important;
    }
  }
  #question {
    padding: 6rem 0;
  }
}
