html {
  font-size: 1rem;
}

// Nav
nav {
  background-color: $colorFirst;
}

// Header
#header {
  background-color: $colorFirst;
  padding: 6rem 0;
  border-bottom-right-radius: 10rem;
}
// Main
main {
  // Feauture
  #feauture {
    padding: 6rem 0;
  }
}
