// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}
// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #nav {
    ul {
      justify-content: center !important;
      .btn {
        display: none;
      }
    }
  }
  #header {
    .text-holder {
      margin-bottom: 1rem;
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #nav {
    .logo {
      display: none;
    }
    ul {
      justify-content: center !important;
      .btn {
        display: none;
      }
    }
  }
  #header {
    .text-holder {
      h1 {
        font-size: 1.4rem;
      }
    }
  }
  #feauture,
  #more,
  #price,
  #question,
  #start,
  #social,
  #ready,
  #footer {
    font-size: 0.8rem !important;
    img {
      width: 75%;
      margin: auto;
    }
  }
  #price {
    p {
      text-align: center;
    }
    ul {
      text-align: center !important;
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
  #nav {
    .logo {
      display: none;
    }
    ul {
      justify-content: center !important;
    }
    font-size: 0.9rem;
  }
}
